<div class="cart-container" *ngIf="carts.length > 0">
  <div>
    <div class="cart-list">
      <div class="cart-item" *ngFor="let cart of carts; let i = index">
        <div class="cart-product-img">
          <img src="{{ cart.url }}" alt="{{ cart.name }}" />
        </div>
        <div class="cart-price-name">
          <span class="cart-name">{{ cart.name }}</span>
          <div class="cart-price">
            <span> Quantity: {{ cart.quantity }} </span>

            <span> Price {{ cart.price }} $ </span>
          </div>
          <div *ngIf="cart.id" class="btn-action">
            <button (click)="onAgmentPrtoduct(i)" class="btn-add">+</button>
            <button (click)="onDecreaseProductPrtoduct(i)" class="btn-dec">
              -
            </button>
          </div>
          <button (click)="onRemoveProduct(i)" class="btn-remove">
            Remove
          </button>
        </div>
      </div>
    </div>
    <div style="margin-top: 30px">Sumtotal : {{ sum() }} $</div>
  </div>

  <div>
    <form [formGroup]="angForm">
      <div class="form-group">
        <div class="form-wrapper">
          <span class="form-label">Full Name</span>
          <input class="form-control-input" formControlName="name" />
        </div>
        <div
          class="error-message"
          *ngIf="
            angForm.controls['name']?.invalid &&
            (angForm.controls['name']?.dirty ||
              angForm.controls['name']?.touched)
          "
        >
          Name is required.
        </div>
        <div class="form-wrapper">
          <span class="form-label"> Address </span>
          <input class="form-control-input" formControlName="address" />
        </div>
        <div
          class="error-message"
          *ngIf="
            angForm.controls['address']?.invalid &&
            (angForm.controls['address']?.dirty ||
              angForm.controls['address']?.touched)
          "
        >
          Address is required.
        </div>
        <div class="form-wrapper">
          <span class="form-label"> Card Number </span>
          <input (ngModelChange)="logCardNumber($event)" class="form-control-input" formControlName="card-number" />
        </div>
        <div
          class="error-message"
          *ngIf="
          angForm.controls['card-number']?.errors?.['required'] &&
          (angForm.controls['card-number']?.dirty ||
            angForm.controls['card-number']?.touched)
          "
        >
          Card Number is required.
        </div>
        <div
          class="error-message"
          *ngIf="angForm.controls['card-number']?.errors?.['pattern'] &&
          (angForm.controls['card-number']?.dirty ||
            angForm.controls['card-number']?.touched) "
        >
          Card Number type is number
        </div>
        <div
          class="error-message"
          *ngIf="angForm.controls['card-number']?.errors?.['minlength'] &&
        (angForm.controls['card-number']?.dirty ||
          angForm.controls['card-number']?.touched) "
        >
          Min length is 8 digits
        </div>
        <div
          class="error-message"
          *ngIf="angForm.controls['card-number']?.errors?.['maxlength'] &&
      (angForm.controls['card-number']?.dirty ||
        angForm.controls['card-number']?.touched) "
        >
          Max length is 16 digits
        </div>
      </div>
      <button
        type="submit"
        [disabled]="angForm.pristine || angForm.invalid"
        class="btn-submit"
        (click)="onSubmit()"
      >
        Checkout
      </button>
    </form>
  </div>
</div>

<div *ngIf="carts.length <= 0">Empty in cart list</div>
